html {
    background: #FFF;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
 }

body {
    color: #151515;  
    text-align: justify; 
    margin: 75px 75px 75px 150px;
      }

#page {
    width: 980px;
    margin: 0 auto;
}

p{
    margin: 0 0 20px 0 ;
}

   
h2{
    margin: 5px 20 5px;
    padding: 0;
    border-bottom: 1px solid #050555;
}

a:link {
  color: #483D8B;
}

